<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="config.js"></script>
    <script src="common.js"></script>
    <title>个人信息</title>
</head>
<body>
    <table border="1" id="get_user">
        <tr>
        <td>姓名</td>
        <td>{{info.name}}</td>
        </tr>
        <tr>
        <td>年龄</td>
        <td>{{info.age}}</td>
        </tr>
        <tr>
        <td>性别</td>
        <td>{{info.sex}}</td>
        </tr>
        <tr>
        <td>身份</td>
        <td>{{info.identify}}</td>
        </tr>
    </table>


    <div id="set_user">
        <input type="text" v-model="name">
        <input type="text" v-model="age">
        <input type="text" v-model="sex">
        <input type="text" v-model="identify">

        <button  @click="set_user()"> 提交 </button>
    </div>

    <script>
        var vm = new Vue({
            el: '#get_user',
            data: {
                info: {}
            },
            mounted () {
                admin
                    .get('example/get_user')
                    .then(response => {
                        if(!check(response)) alert('获取用户信息时后台数据返回异常');
                        if (response.data.success === false) alert(response.data.message)
                        this.info = response.data.data;
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        });

        var vm2 = new Vue({
            el: '#set_user',
            data: {
                name: '',
                age: 0,
                sex: '',
                identify: ''
            },
            methods: {
                set_user() {
                    admin
                    .post('example/set_user', {
                        name: this.name,
                        age: this.age,
                        sex: this.sex,
                        identify: this.identify
                    })
                    .then(response => {
                        if(!check(response)) alert('获取用户信息时后台数据返回异常');
                        if (response.data.success === false) alert(response.data.message);
                        alert("success");
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
                }
            }
        });

    </script>
</body>
</html>